:root{

    --dark-color:#19283f;
    --green-color:#33d1cc;
    --red-color:#ff3150;
    --yellow-color:#ffc400;
    --section-color:#eff7fa;
}
body{
    font-family: 'Roboto',sans-serif;
}
.logo{
    color: black;
    font-size: 50px;
    margin-bottom: 30px;
    height: 90px;
}
.main-btn{
  background-color: var(--red-color);
  border: var(--red-color);
  color: var(--yellow-color);
  padding: 0.5rem 1rem;
}
.main-title::after{
  content: "";
  background-color: var(--green-color);
  width: 120px;
  height: 2px;
  left: 50%;
  transform: translateX(-50%);
  bottom: -20px;
  position: absolute;

}
.navbar{
  background-color: var(--dark-color);
  height: 70px;
}
/* .navbar-brand img{ */
  /* max-height: 55px; */
  /* width: auto; */
/* } */
.navbar .navbar-nav .nav-link{
    color: white;
}
.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link:focus,
.navbar .navbar-nav .nav-link:hover{
  color: var(--green-color);
}
.navbar .search{
    border-left: 1px solid var(--green-color);
}
.navbar .search svg{
  color: var(--green-color);
}
.navbar .navbar-toggler{
   color: white;
   font-size: 25px;
   border-color: white;
}
.landing{
  background-image: url("image/meØ²d.jpg");
  height: 600px;
}
.features .icon-holder {
  height: 200px;
}
.features .icon-holder svg{
  left: 50%;
  transform: translateX(-50%);
}
.features .icon-holder .number{
  font-size: 12rem;
  color: var(--section-color);
}
.features .icon-holder .icon{
  color: var(--green-color);
}
.features .feat h4{
  color: var(--yellow-color);
}
.our-work{
  background-color: var(--section-color);
}
.our-work ul .active{
  background-color: var(--red-color);
  color: var(--yellow-color);
}
.our-work ul li{
  padding: 0.5rem 1rem;
  cursor: pointer;
}
.our-work ul li:not(.active):hover{
  color: var(--red-color);
}
.our-work .box{
  padding: 0;
  overflow: hidden;
  position: relative;
}
.our-work .img-fluid{
  height: 180px;
 
}
.our-work .box::before{
  content: attr(data-work);
  position: absolute;
  background-color: rgb(51 209 204 / 20%);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: white;
  transition: 0.3s;
  font-size: 1.5rem;
  transform: translateX(calc(-100% - 5px));
}
.our-work .box:hover::before{
  transform: translateX(0)
}
.stuffe .desciption{
  max-width:500px;
}
.team{
  background-color: var(--section-color);
}
.team h2{
  color: var(--yellow-color);
}
.team .box h4{
  background-color: var(--green-color);
}
.project{
  background-color: var(--dark-color);
}
.subscribe{
  background-color: var(--yellow-color);
}
.subscribe input[type="text"]{
  border: none;
  border-bottom: 1px solid white;
}
.subscribe input[type="text"]:focus{
  outline: none;
}
.subscribe input[type="submit"]{
  background-color: var(--dark-color);
  color: var(--yellow-color);
}
.footer{
  background-color: var(--dark-color);
}
.footer img{
  height: 55px;
}
.footer .copyright > span{
  color: var(--green-color);
}
.footer .copyright div span{
  color: var(--yellow-color);
}
.footer .contact ul svg{
  width: 20px;
  height: 20px;
}
.footer .facebook{
  background-color: #1877f2;
}
.footer .twitter{
  background-color: #1da1f2;
}
.footer .linkedin{
  background-color: #0077b5;
}
.footer .youtube{
  background-color: #ff0000;
}
@media (max-width:768px){
  .our-work .two{
    display: none;
  }
}
.techs img{
  height: 55px;
}
.logoo{
  height: 80px;
}
.logo{
  height: 120px;
}
