body{
    margin: 0;
}
.header-flights{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #19283f;
}
.navbar{
    background-color: #19283f;
    padding:15px 20px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}
.navbar .logo{
    font-size: 22px;
    font-weight: bold;
}
.nav-links{
    list-style: none;
    display: flex;
    gap: 20px;
}
.nav-links li a{
    color: white;
    text-decoration: none;
    font-size: 17px;
}
.nav-links li a.active,
.nav-links li a:hover{
  text-decoration: underline;
  color: #33d1cc;
}
.header-flights{
    background: url('https//i.ibb.co/2Zt8RKs/flight-bg.jpg;') cover no-repeat;
    text-align: center;
    padding: 80px 20px;
    color: #fff;
    background: #19283f;
}
.header-flights h1{
    font-size: 40px;
}
.header-flights p{
    font-size: 18px;
}
.search-section h2{
    /* margin-top: 10px; */
    margin-bottom: 10px;
    padding: 8px 18px;
    background: white;
    color: #19283f;
    border: none;
    cursor: pointer;
}
.flight-form{
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}
.flight-form input{
    padding: 10px;
    width: 220px;
    font-size: 15px;
}
.flight-form button{
    padding: 10px 20px;
    background: #0a3d62;
    color: white;
    border: none;
    cursor: pointer;
}
.flight-form button:hover{
    background: #33d1cc;
}
.flight-list{
   padding: 30px;
}
.flight-list h2{
    text-align: center;
    margin-bottom: 20px;
}
.search-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 30px;
}
.search-section .card{
    background: white;
    width: 250px;
    border-radius: 12px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 30px 10px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}
.search-section .card img{
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
}
.search-section .card span{
    margin: 0;
    color: #19283f;
}
.search-section .card p{
    color: #19283f;
}
.search-section .card button{
    margin-top: 10px;
    padding: 10px 20px;
    background: #0a3d62;
    color: white;
    border: none;
    cursor: pointer;
}
.card img{
    height:200px ;
}
@media (max-width:991px){
    .navbar .logo{
        display: none;
    }
}