body{
    margin: 0;
}
.navbar{
    background-color: #19283f;
    padding:15px 20px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}
.guide-list .img-fluid{
  height: 250px;

}
.nav-links{
    list-style: none;
    display: flex;
    gap: 20px;
}
.nav-links li a{
    color: white;
    text-decoration: none;
    font-size: 17px;
} 
.nav-links li a.active,
.nav-links li a:hover{
  text-decoration: underline;
  color: #33d1cc;
}
.header-guides{
background: #19283f;
  text-align: center;
  padding: 80px 20px;
  color: #fff;
}
.header-guides h1{
   font-size: 40px; 
}
.header-guides p{
    font-size: 18px;
}
.guide-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 30px;
}
.guide-card{
    background: white;
    width: 250px;
    border-radius: 12px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 30px 10px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}
.guide-card img{
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
}
.guide-card h3{
    margin: 10px 0 5px;
    color: #0a3d62;
}
.guide-card p{
    font-size: 14px;
    margin-bottom: 10px;
}
.guide-card button{
    padding: 10px 20px;
    background: #0a3d62;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}
.guide-card:hover{
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(0, 0, o, 0.15);
}
.guide-card button:hover{
    background: #075082;
}
.memory-upload{
    min-width: 500px;
    margin: 40px auto;
    padding: 25px;
    background: #f9f9f9;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
.memory-upload h2{
    color: #333;
    margin-bottom: 15px;
    font-size: 24px;
}
.memory-upload p{
    color: #666;
    margin-bottom: 20px;
    font-size: 14px;
}
.upload-btn{
    display: inline-block;
    padding: 12px 24px;
    background: #007BFF;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s ease;
}
.upload-btn:hover{
    background: #0056b3;
}
.upload-input{
    display: none;
}
.preview-container{
    margin-top: 20px;
    border: 2px dashed #ccc;
    border-radius: 8px;
    padding: 20px;
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
}
.preview-image{
    max-width: 100px;
    max-height: 300px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
.preview-placeholder{
    color: #999;
    font-size: 14px;
}
@media (max-width:991px){
    .navbar .logo{
        display: none;
    }
}
